.post {
   border-top: 2px solid #A7B0BE;
   padding: 15px 0;
   margin: 0 80px;

   display: flex;
   flex-direction: row;
 
}

.post a {
    text-decoration: none;
    width:100%;
    padding: 7px;
}

.post a:hover {
    background-color: #cecece; 
    transition: 0.3s;
    
}


.post a img{
    margin-right: 10px;
    border-radius: 3px;
    width: 90px;
    height: 80px;
    background-color:#014980; 
}

.post a div{
    display: inline-block;
    vertical-align: top;
}


.post a div h3{
    color: #000;
    font-size: 20px;
    margin-bottom: 3px; 
}

.post a div p{
    color: #535455;
    margin-bottom: 10px;  
    font-size: 15px;  
    font-weight: 800;

}

.post a div p strong{
    color: #6324C6;
    font-size: 15px;
}

.post a div h5{
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
